.main-content {
    width: 100%;
    height: 100%;
    position: fixed;
    margin-left: 120px;
    padding: 15px;
    background-color: #E8EFF2;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Exo 2';
    color: #040f14;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Open Sans';
    color: #000;
    margin: 0;
}
