<div class="stepper">
    <div class="stepper-item active done">
        <div class="stepper-circle"></div>
        <div class="stepper-title">Início</div>
        <div class="stepper-bar-right"></div>
    </div>
    
    <div class="stepper-item disabled">
        <div class="stepper-circle"></div>
        <div class="stepper-title">Documentos</div>
        <div class="stepper-bar-left"></div>
        <div class="stepper-bar-right"></div>
    </div>

    <div class="stepper-item disabled">
        <div class="stepper-circle"></div>
        <div class="stepper-title">Dados cadastrais</div>
        <div class="stepper-bar-left"></div>
        <div class="stepper-bar-right"></div>
    </div>

    <div class="stepper-item disabled">
        <div class="stepper-circle"></div>
        <div class="stepper-title">Admissão</div>
        <div class="stepper-bar-left"></div>
    </div>

</div>