<div class="card">
    <div class="card-title">
        {{ title }}
    </div>
    <div class="card-subtitle">
        {{ subtitle }}
    </div>

    <div class="card-content">
        <img src="assets/images/user.png" width="25" height="25" alt="">
        <div style="margin-left: 20px;">
            <div class="card-content-title">
                Número da conta
            </div>
            <div class="card-content-subtitle">
                {{ account.number }}
            </div>
        </div>
    </div>
    <div class="card-content">
        <button class="btn btn-secondary">
            <span>Duplicar cota</span>
        </button>
    </div>
</div>