.subtitle {
    font-size: 11px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #040F14;
}

.row {
    display: flex;
    align-items: center;
}


.footer-button {
    width: 100%;
    background: #FFF;
    padding: 15px 20px;
    position: fixed;
    left: 120px;
    bottom: 0;
}

.margin-right-15 {
    margin-right: 15px;
}

.container-button {
    position: relative;
    top: 10px;
}

.rotation {
    animation: spin 4s linear infinite;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}