<header id="app-header">
    <div class="header-container">
        <div>
            <h1 class="title">
                NOVA ADMISSÃO COOPERADO
            </h1>
            <div class="breadcrumb">
                Cadastro / Admissão do Cooperado / Nova Admissão do Cooperado
            </div>
        </div>
    
        <div class="header-content ">
            <div class="margin-right-12 cursor-pointer">
                <img src="assets/images/bell.png" width="25" height="25" alt="">
                <span class="badge">7</span>
            </div>
            <div class="margin-right-12">
                <button class="btn btn-roundend">
                    <span>VIACREDI</span>
                </button>
            </div>
            <div class="margin-right-12 container-profile cursor-pointer">
                <img src="assets/images/profile.png" width="40" height="40" alt="">
                <div class="icon-settings">
                    <img src="assets/images/cogwheel.png" width="20" height="20" alt="">
                </div>
            </div>
        </div>

    </div>

</header>